@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX&family=Roboto&family=Saira+Condensed:wght@500&family=Teko:wght@300..700&display=swap');

.section {
    width: 70%;
    height: auto;
    min-height: 80%;
    max-height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation {
    width: 40%;
    height: auto;
    color: aliceblue;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    max-height: min-content;
}

.presentation div:nth-child(1) p {
    margin: 0;
    padding: 0;
}

.presentation div:nth-child(3) p {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.presentation div:nth-child(1) {
    animation: animPresent 1s ease-in-out;
}

.name {
    animation: animPresent 1s ease-in-out .2s backwards;
    line-height: 1;
    margin: 0;
}

.presentation div:nth-child(3) {
    animation: animPresent 1s ease-in-out .5s backwards;
}

.presentation div:nth-child(4) {
    animation: animPresent 1s ease-in-out .8s backwards;
}

.presentation>div {
    margin: 0;
    padding: 0;
}

.imageProfile {
    width: 28%;
    height: 60%;
    animation: animPresentInverse 1.5s ease-in-out backwards;
    overflow: hidden;
    border: 2px solid yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
        0 6px 6px rgba(0, 0, 0, 0.23);
}

.imageProfile>img {
    width: 98%;
    height: 98%;
    border-radius: 0%;
}

.name {
    color: #008c72;
    font-size: 80px;
    text-shadow: -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.namespan {
    color: #008c72;
    margin: 0;
    padding: 0;

}

@keyframes animPresent {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animPresentInverse {
    from {
        transform: translateX(60%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.divButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.buttonCv {
    background-color: #004e5c;
    width: 150px;
    height: 50px;
    border: 2px solid #008c72;
    font-family: system-ui;
    font-weight: bolder;
    font-size: medium;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
        0 6px 6px rgba(0, 0, 0, 0.23);
}

.buttonCv:hover {
    background-color: #008c72;
    cursor: pointer;
    color: wheat;
}

.icons {
    font-size: 35px;
}

.links {
    height: max-content;
    width: max-content;
    color: initial;
    display: flex;
}

.links:hover .icons {
    color: #008c72;
}

@media (max-width: 1083px) {
    .presentation {
        display: flex;
        width: 100%;
        justify-content: center;

    }

    .imageProfile {
        display: none;
    }
}