.section {
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.icons {
    font-size: 35px;
}

.name {
    border-top: 1px solid black;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divIcons {
    background: linear-gradient(180deg, rgb(166, 255, 0) 5%, yellowgreen 90%);
    width: 50%;
    height: 65%;
    font-weight: 500;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 5px solid #008c72;
}