.section {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-content: center;
    gap: 10px;

}

.icons {
    font-size: 35px;
}

.name {
    border-top: 1px solid black;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divIcons {
    background: linear-gradient(180deg, rgb(166, 255, 0) 5%, yellowgreen 90%);
    width: 50%;
    height: 110px;
    font-weight: 500;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 5px solid #008c72;
}

@media (max-width: 950px) {

    .section {
        overflow-x: scroll;
    }

    .divIcons {
        width: 25%;
        height: 80px;
    }

    .name {
        font-size: small;
    }
}