@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap');

.sectionExp {
    width: 100%;
    max-height: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    animation: viewsection 2s ease-out;
    padding-bottom: 150px;
}

.contenedor h2 {
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    text-decoration: overline yellowgreen;
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    transition: 1s ease-in-out;
}

.contenedor {
    width: 70%;
    text-align: center;
}