@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap');

.sectionExp {
    width: 100%;
    max-height: auto;
    min-height: 480px;
    display: flex;
    justify-content: space-between;
}

.contenedor h2 {
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    text-decoration: overline yellowgreen;
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    transition: 2s ease-in-out;
    animation: viewSection;
    animation-timeline: view();
    animation-fill-mode: both;
}

.contenedor {
    width: 70%;
    text-align: center;
    margin-top: 40px;
}

@keyframes viewSection {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}