@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap');

.sectionExp {
    width: 100%;
    max-height: auto;
    min-height: 480px;
    display: flex;
    justify-content: space-between;
    animation: viewsection 2s ease-out;
}

.contenedor h2 {
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    text-decoration: overline yellowgreen;
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    transition: 1s ease-in-out;
}

.contenedor {
    width: 74%;
    text-align: center;
    margin-top: 40px;
}

@keyframes viewsection {
    from {
        opacity: 0;
        transform: translateX(-60%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width:700px) {
    .contenedor {
        width: 90%;
    }
}